
<body class="bg-gray-100">
    <div class="grid grid-cols-3 gap-4">
        <div class="flex flex-col justify-center w-auto border border-blue-500 m-8 p-4">
            <h1 class="text-xl text-center mb-4"><i><b>Product 1</b></i></h1>
            <p class="mt-2 mb-8">Product 1 detail</p>
            <a href='@Url.Action("DownloadDemo", "Demo")' class="underline">Link Download</a>
        </div>
        <div class="flex flex-col justify-center w-auto border border-blue-500 m-8 p-4">
            <h1 class="text-xl text-center mb-4"><i><b>Product 2</b></i></h1>
            <p class="mt-2 mb-8">Product 2 detail</p>
            <a href='@Url.Action("DownloadDemo", "Demo")' class="underline">Link Download</a>
        </div>
        <div class="flex flex-col justify-center w-auto border border-blue-500 m-8 p-4">
            <h1 class="text-xl text-center mb-4"><i><b>Product 3</b></i></h1>
            <p class="mt-2 mb-8">Product 3 detail</p>
            <a href='@Url.Action("DownloadDemo", "Demo")' class="underline">Link Download</a>
        </div>
    </div>
</body>
