@model List<UIEngineerTicket>

    <body>
    <div class="inline-block w-auto border border-blue-500 m-8">TICKET FOR CUSTOMER SUCCESS</div>
        <div>
            <form action="/ticket/cs" method="POST">
                <label for="content">Content:</label>
                <input type="text" id="content" name="content" required><br><br>

                <input type="submit" value="Submit">
            </form>
        </div>
    <div class="inline-block w-auto border border-blue-500 m-8">TICKET FOR SALE</div>
        <div>
            <form action="/ticket/sale" method="POST">
                <label for="content">Content:</label>
                <input type="text" id="content" name="content" required><br><br>

                <input type="submit" value="Submit">
            </form>
        </div>
    <div class="inline-block w-auto border border-blue-500 m-8">Ticket for Engineer Department:</div>
        <ul>
            @foreach (var ticket in Model)
            {
                <li>
                    <p>
                        @ticket.TicketID @ticket.UserID @ticket.DateCreated.ToLongDateString() @ticket.Content
                    </p>
                    <p>
                        <a href="/ticket/engineer/@ticket.TicketID">Detail</a>
                    </p>
                </li>
            }
        </ul>
    </body>
