@model Person

<!DOCTYPE html>
<html>
    <head>
        <title>Person Details</title>
        <meta charset="utf-8" />
        <link href="~/tailwind.min.css" rel="stylesheet" />
    </head>
    <body>
        <div>
            <h1>Person Details</h1>
            <h3>@Model.Name</h3>
            <table>
                <tr>
                    <td>Gender</td>
                    <td>@Model.PersonGender</td>
                </tr>
                <tr>
                    <td>Date of birth</td>
                    <td>@Model.DateOfBirth</td>
                </tr>
            </table>
        </div>
        <a href="/home">Home</a>
    </body>
</html>