<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/tailwind.min.css" rel="stylesheet" />
</head>
<body>
    <h1>Free ERP Program</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>

