<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/tailwind.min.css" rel="stylesheet" />
</head>
<body>
    <div class="flex">
        <h1 class="text-center"><b>Free ERP Program</b></h1>
        <a href="/home"></a>
    </div>
    
    <div>
        @RenderBody()
    </div>
</body>
</html>

