<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/tailwind.min.css" rel="stylesheet" />
</head>
<body>
    <div class="m-4 flex">
        <div class="ml-auto mr-8">
            <a href="/home"><u>Home</u></a>
            <a class="ml-2" href="/logout"><u>Logout</u></a>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>

