@model UISaleTicket

<h1>Sale Ticket Detail</h1>
<p>User Created: @Model.UserID</p>
<p>Date Created: @Model.DateCreated.ToShortDateString()</p>
<p>Product: @Model.Product</p>
<p>Content: @Model.Content</p>