@model List<string>

    <body>
        <div>TICKET FOR SALES</div>
        <div>
            <form action="/ticket/sale" method="POST">
                <label for="content">Content:</label>
                <input type="text" id="content" name="content" required><br><br>

                <input type="radio" name="product" value="product_1" id="product-1-radio">
                <label for="product-1-radio">Product 1</label><br>

                <input type="radio" name="product" value="product_2" id="product-2-radio">
                <label for="product-2-radio">Product 2</label><br>

                <input type="radio" name="product" value="product_3" id="product-3-radio">
                <label for="product-3-radio">Product 3</label><br>

                <input type="submit" value="Submit">
            </form>
        </div>

        <div>Tickets created</div>
        <ul>
            @foreach (var ticket in Model)
            {
                <li>@ticket</li>
            }
        </ul>
    </body>
